/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20/01/2016, 10:15:25 AM
    Author     : william.montiel
*/
@font-face {
  font-family: 'Coolvetica';
  src: url(fonts/coolvetica/coolvetica.ttf);
}

.navbar-inverse {
    background-color: #000 !important;
}

.style-footer-clear {
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 9999999;
}

.social-networks-clear {
    float: right;
    padding: 5px;
}

.social-networks-clear li {
    list-style-type: none;
    float: right;
    font-size: 1.5em;
    margin: 0 5px 0 5px;
}

.social-networks-clear li:hover {
    cursor: pointer;
    color: #43586b;
}

.social-networks-clear i {
    margin: 10px;
}


.style-footer {
    display: inline-block;
}

.style-footer ul {
    width: 250px;
    padding: 5px;
}

.style-footer li {
    list-style-type: none;
    float: right;
    /*padding: 5px 12px 5px 12px;*/
    font-size: 1.5em;
    margin: 0 5px 0 5px;
}

.style-footer li:hover {
    cursor: pointer;
    color: #43586b;
}

.style-footer i {
    margin: 10px;
}



.pagination>li>a, .pagination>li>span {
    border: 0px solid #ddd !important;
}

.onoffswitch {
    position: relative; width: 69px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #000000; border-radius: 0px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 24px; padding: 0; line-height: 24px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #8cc63f; color: #000;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #000;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 3px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 41px;
    border: 2px solid #000000; border-radius: 0px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

.alert {
    text-align: center;
}

/* Fonts */
.extra-big {
   font-size: 3.2em; 
   font-weight: 700;
}

.big {
   font-size: 2.5em;
   font-weight: 700;
}

.medium {
   font-size: 1.5em;
   font-weight: 700;
}

.little {
   font-size: 0.8em;  
}

.select2-container{ 
    width: 100% !important;
}

.chosen-container {
    width: 100% !important;
}

.error {
    color: #FF3B30;
}

.icon-menu {
  font-size: 200px;
}
.bold {
   font-weight: 800;
}

angular-select {
  width: 100%;
}